html, body {
    height:100%;
}

body {
    background-color: #f4f4f4;
    
    
}

.navbar .container {
    width: 100%; 
    margin-left: 0;
}

.navbar > .container {
    margin-left: 0;
}

.navbar {
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 10px;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.navbar-default {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

container .navbar-brand {
    margin-left: 10px;
}

.navbar.container {
    margin-left: 0;
}

.navbar-brand {
    padding:0;
    height: auto;
    margin-top: 10px;
    color: black;
    margin-left: 0;
}

.brand-text {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    width: 300px;
    overflow: hidden;
    height: auto;
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 700;
}

.navbar-collapse {
    display: inline-block;
}

.navbar-nav {
    float: right;
    margin-right: 80px;
    margin-top: 40px;
    font-size: 1.8em;
}

.navbar-nav a {
    margin-right: 35px;
    text-decoration: none;
    color: black;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav a::before, .navbar-nav a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    transition: top 0.5s, bottom 0.5s, opacity 0.5s;
}

.navbar-nav a::before {
    top: 0;
}

.navbar-nav a::after {
    bottom: 0;
}

.navbar-nav a:hover::before {
    top: 10px;
    background: black;
    opacity: 1.0;
}

.navbar-nav a:hover::after {
    bottom: 10px;
    background: black;
    opacity: 1.0;
}

#home:hover::before, #home:hover::after,
#contact:hover::before, #contact:hover::after {
    background: #DF5A49;
}

#about:hover::before, #about:hover::after {
    background: #6DC27B;
}

#parents:hover::before, #parents:hover::after {
    background: #ffe746;
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 10px;
}

.front-pic {
    width: 100%;
    border: solid 10px #DF5A49;
    border-top: none;
    border-bottom-width: 20px;
    height: 480px;
    background-image: url("../img/front2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.front-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}

.front-overlay .front-text {
    display: inline-block;
    margin-left: 25%;
    margin-top: 50px;
    width: 800px;
    font-family: "Lato", sans-serif;
}

.front-overlay .front-text h1 {
    margin: 0;
    color: white;
    font-size: 4.2em;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.mission-area {
    width: 100%;
    height: 600px;
    position: relative;
}

.mission-text {
    display: inline-block;
    float: left;
    margin-left: 5%;
    width: 500px;
    padding: 50px;
    margin-top: 50px;
    font-family: "Lato", sans-serif;
    background-color: #6DC27B;
    color: white;
}

.mission-text hr {
    border-width: 3px;
    border-color: #EFDB56;
    width: 75%;
    margin-left: 0;
}

.mission-text h2 {
    font-size: 2.4em;
    font-weight: 700;
}

.mission-text h3 {
    font-size: 2.0em;
    font-weight: 300;
    line-height: 1.5;
}


.mission-area span {
    left: 75px;
    top: 275px;
    float: left;
}

.mission-area span::before {
    position: absolute;
    content: "";
    width: 65px;
    height: 2px;
    background-color: black;
    top: 15px;
    left: -70px;
}

.mission-area span::after {
    position: absolute;
    content: "";
    width: 65px;
    height: 2px;
    background-color: black;
    bottom: 20px;
    left: 40px;
    
}



.mission-pic {
    display: inline-block;
    float: left;
    margin-top: 70px;
    margin-left: 150px;
    width: 348px;
    height: 465px;
    background-image: url("../img/kids.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.quote-area {
    width: 100%;
    position: relative;
    text-align: center;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-left: solid 15px #fce658;
    border-right: solid 6px #fce658;
}

.quote {
    display: inline-block;
    width: 60%;
}

.quote::before {
    content: "\201C";
    position: absolute;
    font-family: Georgia, serif;
    font-size: 70px;
    font-weight: bold;
    color: #999;
    left: 200px;
}

.quote::after {
    content: "\201D";
    position: absolute;
    font-family: Georgia, serif;
    font-size: 70px;
    font-weight: bold;
    color: #999;
    right: 200px;
    bottom: 100px;
    
}

.quote h1 {
    font-family: 'PT Serif', serif;
}

.quote h2 {
    font-family: 'PT Serif', serif;
}

.info-area {
    height: auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    
    padding-bottom: 40px;
}

.info-contain {
    display: inline-block;
    width: 90%;
    padding: 10px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-header {
    
    margin-bottom: 50px;
    text-align: left;
    padding-left: 70px;

}

.info-header h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.6em;
    font-weight: 700;
}

.box-area {
    display: inline-block;
    height: 100%;
}

.box {
    display: inline-block;
    width: 335px;
    height: 400px;
    margin: 5px;
    border: solid 15px #7b7b7b;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.box-bottom {
    position: absolute;
    height: 50px;
    bottom: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    font-weight: 300;
    transition: color 0.5s;
    transition: bottom 0.5s;
}

.box:hover .box-bottom {
    bottom: 150px;
    background-color: rgba(0, 0, 0, 0.63);
}

.box-bottom h3 {
    position: relative;
    bottom: 7px;
}

.box-1 {
    background-image: url("../img/b1.png");
    border-color: #6DC27B;
}

.box-1:hover .box-bottom {
    color: #6DC27B;
}

.box-2 {
    background-image: url("../img/b2.png");
    border-color: #EFDB56;
}

.box-2:hover .box-bottom {
    color: #EFDB56;
}

.box-3 {
    background-image: url("../img/b3.png");
    border-color: #DF5A49;
}

.box-3:hover .box-bottom {
    color: #DF5A49;
}

.box-ol {
    background-color: rgba(51, 77, 92, 0.05);
    width: 100%;
    height: 100%;
    transition: background-color 1s;
}

.box-ol:hover {
    background-color: rgba(0, 0, 0, 0.4);
}